*
{
  margin: 0;
  padding: 0;
}
*:focus
{
  outline-width: 0px;
}
.chat
{
  background: #ffffff; /* Old browsers */
  font-family: 'Raleway', serif;
}
/* header */
.chat .name
{
  text-align: center;
  background-color: #fed22b;
  padding: 10px 0;
  font-size: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:10;
  -webkit-box-shadow: 0px 14px 29px -9px rgba(102,87,13,1);
-moz-box-shadow: 0px 14px 29px -9px rgba(102,87,13,1);
box-shadow: 0px 14px 29px -9px rgba(102,87,13,1);
}
/* messages */
.chat .messages
{
  padding: 180px 30px;
  min-height: 100vh;
}
/* message */
.chat .message
{
  background-color: rgba(255,255,255,1);
  border: 2px solid #333333;
  width: 60%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 3px;
}
.chat .message .message-text
{
  font-size: 25px;
  margin-bottom: 2px;
}
.chat .left
{
  margin-right: auto;
  background-color: #dddddd;
}
.chat .right
{
  margin-left: auto;
  background-color: #fed22b;
}
/* send form */
.chat .send-form
{
  position: fixed;
  bottom: 0;
  width: 95%;
  padding: 20px;
  z-index: 10;
}
.chat .send-form .back-button,
.chat .send-form .send-button
{
  width: 50px;
  height: 50px;
  border-width: 0;
  border-radius: 50%;
  margin: 0 10px;
  background-color: transparent;
}
.chat .send-form .back-button i,
.chat .send-form .send-button i
{
  font-size: 50px;
  color: #333333;
}
.chat .send-form form
{
  display: flex;
  flex-direction: row;
  width: 95%;
}
.chat .send-form form input
{
  width: 70%;
  padding: 15px;
  border-radius: 4px;
  border-width: 0;
  flex-grow: 1;
  border: 1px solid gray;
}
.chat .send-form .record
{
  position: absolute;
  right: 107px;
  bottom: 23px;
  font-size: 30px;
  color: gray;
  background-color: transparent;
  border-color: transparent;
}
.chat .send-form .recording
{
  height: 3px;
  background-color: gray;
  width: 55%;
  position: absolute;
  left: 110px;
  bottom: 45px;
  z-index: 5;
  overflow: hidden;
  display: none;
}
.chat .send-form .recording .bar-moving
{
  width: 50px;
  height: 5px;
  background-color: blue;
  z-index: 10;
  position: absolute;
  top:-1px;
  left:-80px;
  -webkit-animation-name: recording; 
  animation-name: recording;
  -webkit-animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes recording {
  0%   {left:-80px;}
  100% {left:110%;}
}
.chat .quote
{
  margin: 0;
  font-size: 16px;
}
.chat .search-form input
{
  padding: 5px 20px;
  font-size: 16px;
  background-color: white;
  border-width: 0px;
  color: gray;
  border-radius: 4px;
  -webkit-appearance: none;
  margin-bottom: 15px;
}
.chat .search-form button
{
  background-color: transparent;
  border-width: 0;
  margin-left: 10px;
}
.chat .search-form button i
{
  font-size: 14px;
  color: gray;
}
.chat .coincidence
{
  background-color: yellow;
}
.chat .searchResult
{
  border: 2px solid yellow;
  background-color: rgba(255,255,100,0.6);
}
.chat .currentResult
{
  border: 2px solid rgba(100,255,200,1);
  background-color: rgba(100,255,200,0.6);
}
.chat .results
{
  display: none;
  font-size: 12px;
  color: gray;
}
.chat .results .fa-sort-up
{
  position: relative;
  top: 4px;
}
.chat .results .fa-sort-down
{
  position: relative;
  bottom: 0;
}
.chat .search-form .close-button
{
  margin-right: 10px;
  margin-left: 0;
  position: relative;
  top: 2px;
}
.chat .audio ,
.chat .controllers
{
  display: block;
  width: 100%;
}
.chat .audio
{
  text-align: center;
  height: 100px;
}
.chat .audio #recordedAudio
{
  background-color: red;
}
.chat .controllers
{
  display: flex;
  flex-direction: row;
}
.chat .typing
{
  width: 100%;
  padding: 20px;
  position: absolute;
  top: -40px;
  left:0;
}
.chat .typing .typingAnimation
{
  margin: auto;
  width: 70px;
  height: 30px;
  padding: 10px;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chat .typing
{
  padding: 10px;
}
.chat .typing .typingAnimation .ball
{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(50,50,50);
  -webkit-animation-name: ball; 
  animation-name: ball;
  -webkit-animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  margin: 0 3px;
}
.chat .typing .typingAnimation .ball.ball1
{
  animation-delay: 3s;
}
.chat .typing .typingAnimation .ball.ball2
{
  animation-delay: 2s;
}
.chat .typing .typingAnimation .ball.ball3
{
  animation-delay: 1s;
}

.styles_button__3Vugn
{
  width: 50px !important;
  height: 50px !important;
  position: relative;
  top: 2px !important;
  color: #333333 !important;
  border: 2px solid #333333 !important;
  background-color: #fed22b !important;
}
.styles_button__3Vugn img
 {
   display: none;
   width: 30px;
   height: 30px;
 }
 .styles_button__3Vugn:active
 {
  background-color: gray !important;
  -webkit-animation-name: buttonActive !important; 
  animation-name: buttonActive !important; 
  -webkit-animation-duration: 3s !important; 
  animation-iteration-count: infinite !important; 
  animation-duration: 3s !important; 
 }

@keyframes buttonActive {
  0% {
    -webkit-box-shadow: 0 0 150px 40px #222222 !important;
    box-shadow: 0 0 150px 40px #222222 !important;
    width: 50px !important;
    height: 50px !important;
  }
  50% { 
    -webkit-box-shadow: 0 0 120px 10px #222222 !important;
    box-shadow: 0 0 120px 10px #222222 !important;
    width: 80px !important;
    height: 80px !important;
  }
  100% { 
    -webkit-box-shadow: 0 0 150px 40px #222222 !important;
    box-shadow: 0 0 150px 40px #222222 !important;
    width: 50px !important;
    height: 50px !important;
  }
}

@keyframes ball {
0%   {width: 5px; height: 5px;}
28.6%   {width: 10px; height:10px;}
42.9%   {width: 10px; height: 10px;}
71.5%   {width: 5px; height: 5px;}
85.8%   {width: 5px; height: 5px;}
100%   {width: 5px; height: 5px;}
}

.arrow
{
  background-color: transparent;
  border: 0px solid transparent;
}
.arrow:focus
{
  border: 0px solid transparent;
  outline-width: 0px;
}

.buttons button
{
  transition: all 0.2s linear;
  background-color: #fed22b;
}
.buttons button:hover
{
  background-color: rgba(200,200,200,0.8);
  transition: all 0.2s linear;
}
.messageMetaData small
{
  font-size: 10px;
}