*
{
  margin: 0;
  padding: 0;
}
*:focus
{
  outline-width: 0px;
}
.profile
{
  /* font-family: 'IM Fell French Canon SC', monospace; */
  font-family: 'Raleway', serif;
  color: #333333;

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 69%, #fed22b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ffffff 69%,#fed22b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffffff 0%,#ffffff 69%,#fed22b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fed22b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  height: 100vh;
  width: 100%;
}
.profile .container-inner
{
  text-align: center;
  padding: 70px 0;
  padding-top: 30px;
  min-width: 300px;
  max-width: 700px;
  width: 70%;
  margin: auto;
  box-sizing: border-box;
}
.profile .container-inner h1
{
  font-size: 50px;
  margin: 80px 0 30px 0;
}

.profile .container-inner input,
.profile .container-inner textarea
{
  display: block;
  padding: 10px 25px;
  margin: 10px auto;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(100,100,100,0.1);
  border-width: 0;
  color: #888888;
}
.profile .container-inner p
{
  text-align: right;
  margin-top: 15px;
}
.profile .container-inner p.title
{
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 20px;
  position: relative;
  left: 20px;
  color: #333333;
}
.profile .container-inner p.description
{
  text-align: left;
  position: relative;
  left: -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile .container-inner p a,
.profile .container-inner p a:hover
{
  color: rgb(200,200,200);
  text-decoration: none;
}
.profile .container-inner .form p a:hover
{
  color: #aaaaaa;
}
.profile .container-inner .form p a:focus
{
  border-width: 0;
  outline: -webkit-focus-ring-color auto 0;
}
.profile .container-inner .log
{
  margin-top: 50px;
}
.profile .container-inner form.delete-form button
{
  padding: 10px 20px;
  border-radius: 4px;
  border-width: 0;
  margin: 30px;
  color: red;
  border: 1px solid #333333;
}
.profile .container-inner .user-data button
{
  margin-left: 20px;
  color: #333333;
  background-color: transparent;
  border-width: 0px;
}

.profile .back-button
{
  width: 50px;
  height: 50px;
  border-width: 0;
  background-color: transparent;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.profile .back-button i
{
  font-size: 50px;
  color: #333333;
}