.chatListElement .chats-container
{
  background-color: #dddddd;
  /* border: 1px solid gray; */
  margin: 0;
  width: 40%;
  display: flex;
  flex-direction: row;
  /* padding: 10px 0; */
  margin-top: 20px;
}
.chatListElement .chats-container>div
{
  padding: 3px 0;
  text-align: right;
}
.chatListElement .chats-container .div1
{
  text-align: left;
  padding-left: 20px;
}
.chatListElement .div1 .interlocutor
{
  font-weight: bold;
  font-size: 25px;
}
.chatListElement .div1 .date
{
  font-size: 18px;
  text-align: left;
}
.chatListElement .col8
{
  width: 70%;
}
.chatListElement .col2
{
  /* width: 10%; */
  /* flex: 0 0 10%; */
  /* position: relative;
  top: 5px; */
}


/* chat element */
.chatListElement .chatElement
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
  border-radius: 3px;
  margin-bottom: 15px;
  border-image: none;
  padding: 10px 30px;
  transition: all 0.2s linear;
  color: #333333;
  border: 2px solid #333333;
  background-color: #fed22b;
}
.chatListElement .chatElement:hover
{
  background-color: rgba(200,200,200,0.8);
  transition: all 0.2s linear;
}
.chatListElement .col8
{
  width: 66.6666%;
  text-align: left;
}
.chatListElement .col2
{
  width: 16.6666%;
}