*
{
  margin: 0;
  padding: 0;
}
*:focus
{
  outline-width: 0px;
}
.chats
{
  background-color: #ffffff;
  padding: 20px;
  min-height: 100vh;
  font-family: 'Raleway', serif;
  color: #fcf4cd;
}

/* lower components */
.chats a:-webkit-any-link
{
  text-decoration: none !important;  
  color: #fcf4cd;
}
.phUtm
{
  margin-right: 5px;
}
.modal-backdrop
{
  z-index: -10;
}