*
{
  margin: 0;
  padding: 0;
}
.chats
{
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 69%, #fed22b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ffffff 69%,#fed22b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #ffffff 0%,#ffffff 69%,#fed22b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fed22b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 padding: 20px;
  min-height: 100vh;
  font-family: 'Raleway', serif;
  color: #fcf4cd;
}

/* lower components */
.chats a:-webkit-any-link
{
  text-decoration: none !important;  
  color: #fcf4cd;
}
.phUtm
{
  margin-right: 5px;
}
.modal-backdrop
{
  z-index: -10;
}